<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Enter your street address and zip code to see your District Representatives</h1>
<!--    <form th:action="userReps" modelAttribute="user" method="post" >-->
<!--    <form action="#" th:action="@{/userReps}" method="post" th:object="${user}">-->
<!--        <p>Enter Address: <input th:field="address"/></p>-->
<!--        <input type="submit" value="submit"/>-->
<!--    </form>-->

<form action="/userDistrict" method="get">
    <input type="text" name="streetAddress" value="59 Spruce St">
    <input type="text" name="zipCode" value="43215">
    <input type="submit" value="submit">
</form>

</body>
</html>