<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Test</h1>
<!--    <form th:action="userReps" modelAttribute="user" method="post" >-->
<!--    <form action="#" th:action="@{/userReps}" method="post" th:object="${user}">-->
<!--        <p>Enter Address: <input th:field="address"/></p>-->
<!--        <input type="submit" value="submit"/>-->
<!--    </form>-->

<form action="/userReps" method="get">
    <input type="text" name="address" placeholder="43201">
    <input type="submit" value="submit">
</form>

</body>
</html>