<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's District</title>
</head>
<body>
    <h1>User's District</h1>
    <h3>Street Address</h3>
    <p th:text="${district.getStreetAddress()}"></p>
    <h3>City</h3>
    <p th:text="${district.getCity()}"></p>
    <h3>State</h3>
    <p th:text="${district.getState()}"></p>
    <h3>Zip Code</h3>
    <p th:text="${district.getZipCode()}"></p>
    <h3>District Code</h3>
    <p th:text="${district.getDistrictCode()}"></p>

    <h3>House Member First Name: </h3>
    <p th:text="${houseMember.getFirstName()}"></p>
    <h3>House Member Last Name: </h3>
    <p th:text="${houseMember.getLastName()}"></p>

</body>
</html>